*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(247, 249, 249);
    font-family: sans-serif;
    
    
}

.btn-dark{
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
hr{
    width: 50%;
    border: 3px green solid;
    margin: 5% 5% 5% 25%;
}

.Contacto h2 {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;  
}


/******************************/
/* MEDIA QUERY 320px to 575px*/
/******************************/

@media (min-width: 320px) and (max-width: 575px) {
    .navbar{
        background-color: #3F4A3C;
        
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;;
    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
        
    }
    .container-fluid img{
        width: 18vw;
        height: 10vh;
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 7px solid white;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }
    
    .navbar-nav{
        width: 35%;
    }
    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
    }
    .container-fluid button{
        color: rgb(255, 255, 255);
        
    }
    /*section 1 */
    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;  
    }
    .nosotros p{
        text-align: center;
        margin: 5px;
    }
    /*section 2 */
    .servicios h2{
        text-align: center;
        ;  font-family: 'Josefin Sans', sans-serif;  
    }
    .sabias h2{
        text-align: center;
       ;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias img{

    }
    .sabias p{
        text-align: center;
        margin: 5px;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        background-color: #64C25E;
    }
    /*section 3 */

    footer{
        background-color: #64C25E;
       text-align: center;
    }
    
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }

    .desarrollado{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        background-color: #3F4A3C;
    }
    .Contacto h2 {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }
}

/******************************/
/* MEDIA QUERY 576px to 767px */
/******************************/

@media (min-width: 576px) and (max-width: 767px) {
    .navbar{
        background-color: #3F4A3C;
        
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;;
    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    .container-fluid img{
        width: 10vw;
        height: 8vh;
    }

    
    .navbar-nav{
        width: 35%;
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 7px solid white;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }
    

    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
    }
    .container-fluid button{
        color: rgb(255, 255, 255);
        
    }
    /*section 1 */
    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .nosotros p{
        text-align: center;
        margin: 2px;font-family: 'Josefin Sans', sans-serif;  
    
    }
    /*section 2 */
    .servicios h2{
        text-align: center;
       ;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias h2{
        text-align: center;
        ;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias img{

    }
    .sabias p{
        text-align: center;
        margin: 2px;

    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        background-color: #64C25E;
    }
    /*section 3 */

    footer{
        background-color: #64C25E;
       text-align: center;margin-bottom: auto;
    }
    
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }

    .desarrollado{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        background-color: #3F4A3C;
    }
    .Contacto h2 {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }
}

/******************************/
/* MEDIA QUERY 768px to 992px */
/******************************/

@media (min-width: 768px) and (max-width: 992px) {
    .navbar{
        background-color: #3F4A3C;
        
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;;
    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    .container-fluid img{
        width: 10vw;
        height: 8vh;
    }

    
    .navbar-nav{
        width: 35%;
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 7px solid white;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }
    

    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
    }
    .container-fluid button{
        color: rgb(255, 255, 255);
        
    }
    /*section 1 */
    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .nosotros p{
        text-align: center;
        margin: 2px;font-family: 'Josefin Sans', sans-serif;  
    
    }
    /*section 2 */
    .servicios h2{
        text-align: center;
       ;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias h2{
        text-align: center;
        ;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias img{

    }
    .sabias p{
        text-align: center;
        margin: 2px;

    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        background-color: #64C25E;
    }
    /*section 3 */

    footer{
        background-color: #64C25E;
       text-align: center;margin-bottom: auto;
    }
    
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }

    .desarrollado{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        background-color: #3F4A3C;
    }
    .Contacto h2 {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }
}

/*********************/
/* MEDIA QUERY 992PX*/
/*********************/

@media (min-width: 992px)  {
    .navbar{
        display: block;
        background-color: #3F4A3C;
        font-family: 'Courier New', Courier, monospace;
        position: fixed;
        z-index: 999;
        width: 100%;
        margin: 0%;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;;
    }
    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    .container-fluid img{
        width: 8vw;
        height: 12vh;
    }

    
    .navbar-nav{
        width: 35%;
    }
    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
        
    }

    /*header*/

    .carousel-inner{
        margin-top: 5%;
    }

    /*section 1 */
    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .nosotros p{
        text-align: center;
        margin: 2px;font-family: 'Josefin Sans', sans-serif;  
    
    }
    /*section 2 */
    .servicios h2{
        text-align: center;
     font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias h2{
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias img{

    }
    .sabias p{
        text-align: center;
        margin: 2px;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        background-color: #64C25E;
    }
    /*section 3 */

    footer{
        background-color: #64C25E;
       text-align: center;
       margin-bottom: auto;
       
    }
    
   
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }

    .desarrollado{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        background-color: #3F4A3C;
    }
    .Contacto h2 {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }
}

/*********************/
/* MEDIA QUERY 1024PX*/
/*********************/

@media (min-width: 1024px)  {
    .navbar{
        background-color: #3F4A3C;
        font-family: 'Courier New', Courier, monospace;
        position: fixed;
        z-index: 999;
        width: 100%;
    }

    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    .container-fluid img{
        width: 15vw;
        height: 12vh;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;;
    }
    .navbar-nav{
        width: 52%;
    }
    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
        
    }
    /*section 1 */
    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .nosotros p{
        text-align: center;
        margin: 2px;font-family: 'Josefin Sans', sans-serif;  
    
    }
    /*section 2 */
    .servicios h2{
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;  
    
    }
    .sabias h2{
        text-align: center;
      
    font-family: 'Josefin Sans', sans-serif;  
}
    .sabias img{

    }
    .sabias p{
        text-align: center;
        margin: 2px;font-family: 'Josefin Sans', sans-serif;  
    
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        background-color: #64C25E;
    }
    /*section 3 */

    footer{
        background-color: #64C25E;
       text-align: center;
       margin-bottom: auto;
    }
    
    .container-boton{
        background-color: #315a31fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }

    .desarrollado{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        background-color: #3F4A3C;
    }
    .Contacto h2 {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }

}

/*********************/
/* MEDIA QUERY 1200PX*/
/*********************/

@media (min-width: 1200px)  {
    .navbar{
        background-color: #3F4A3C;
        font-family: 'Courier New', Courier, monospace;
        position: fixed;
        z-index: 999;
        width: 100%;
    }

    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    .container-fluid img{
        width: 12vw;
        height: 12vh;
    }

    
    .navbar-nav{
        width: 40%;
        
    }
    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
        
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;;
    }
    /*section 1 */
    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;font-family: 'Josefin Sans', sans-serif;
    }
    .nosotros p{
        text-align: center;
        margin: 10px;
    }
    /*section 2 */
    .servicios h2{
        text-align: center;
       font-family: 'Josefin Sans', sans-serif;
    }
    .sabias h2{
        text-align: center;
        
    }
    .sabias img{

    }
    .sabias p{
        text-align: center;
        margin: 10px;font-family: 'Josefin Sans', sans-serif;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        background-color: #64C25E;
    }

    /*section 3 */

    footer{
        background-color: #64C25E;
       text-align: center;
    }
    .Contacto h2{
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }

    .desarrollado{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        background-color: #3F4A3C;
    }
    .Contacto h2 {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }
}

/*********************/
/* MEDIA QUERY 2100PX*/
/*********************/

@media (min-width: 2100px)  {
    .navbar{
        background-color: #3F4A3C;
        font-family: 'Courier New', Courier, monospace;
        position: fixed;
        z-index: 999;
        width: 100%;
    }

    .container-fluid{
        display: flex;
        justify-content: space-between;
    }
    .container-fluid img{
        width: 12vw;
        height: 12vh;
    }

    
    .navbar-nav{
        width: 28%;
      
        
    }
    .collapse{
        justify-content:flex-end;
        margin-inline-end: 1%;
        
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.55);
    }
    /*section 1 */
    .nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nosotros p{
        text-align: center;
        margin: 2px;
    }
    /*section 2 */
  
    .servicios h2{
        text-align: center;
     
        font-family: 'Josefin Sans', sans-serif;  
        
    }
    .sabias h2{
        text-align: center;
         font-family: 'Josefin Sans', sans-serif;  
        
    }
    .sabias img{

    }
    .sabias p{
        text-align: center;
        margin: 2px;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
        background-color: #64C25E;
    }
    /*section 3 */

    footer{
        background-color: #64C25E;
       text-align: center;margin-bottom: auto; 
    }
   
    .container-boton{
        background-color: #35a835fd;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    .fa-whatsapp{
        font-size: 3em;
        color: white;
    }

    .desarrollado{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        background-color:#3F4A3C;
    }
    .Contacto h2 {
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;  
    }
}


